Hong Kong Monthly Digest of Statistics Helper
====

This notebook makes analysis of monthly digest of statistics from Hong Kong Census and Statistics Department easier.

Specifically, it:

    a) pulls the statistics from the 11 monthly CSVs, from all available monthly releases, into one dataset
    b) works out which statistics have a monthly frequency
    c) collects all the available monthly CSV datasets to make longer monthly analysis possible
    d) it grabs the latest edition to check if its figures match previous editions
    c) instantly shows the largest movements for the current month
    
Caveats:

    *it ignores figures that aren't monthly
    *statistics codes deeper than "class1" are excluded
    *statistics with a date range are also excluded

In [1]:
# a) pulls the statistics from the 11 monthly CSVs, from all available monthly releases, into one dataset

import requests
from bs4 import BeautifulSoup

page = "https://www.censtatd.gov.hk/hkstat/sub/sp140.jsp?productCode=B1010002"
req = requests.get(page)
soup = BeautifulSoup(req.content)
df = soup.find("table",id="df")
links = df.find_all("a")
csvs = set()
for link in links: # start from the second link to remove the duplicate
    if link.text == 'CSV Datasets':
        csvs.update([link.get('href')])
for link in links: # start from the second link to remove the duplicate
    if link.text == 'CSV Datasets':
        latest = link.get('href').replace("/fd.jsp?file=","").replace(".zip&product_id=B1010002&lang=1","")
        print(latest)
        break

import datetime
import zipfile

# create folders for today's downloads
today = datetime.datetime.now().strftime("%Y-%m-%d") 
!mkdir download
!mkdir data
!mkdir download/$today
!mkdir data/$today

def download_url(url, save_path, chunk_size=128):
    r = requests.get(url, stream=True)
    with open(save_path, 'wb') as fd:
        for chunk in r.iter_content(chunk_size=chunk_size):
            fd.write(chunk)

for csv in csvs:
    name = csv.replace("/fd.jsp?file=","").replace(".zip&product_id=B1010002&lang=1","")
    download_url("https://www.censtatd.gov.hk"+csv,"download/"+today+"/"+name+".zip")
    
    with zipfile.ZipFile("download/"+today+"/"+name+".zip", 'r') as zip_ref:
        zip_ref.extractall("data/"+today+"/"+name)

B10100022020MM12B
mkdir: download: File exists
mkdir: data: File exists
mkdir: download/2021-01-03: File exists
mkdir: data/2021-01-03: File exists

In [144]:
# start here if you downloaded the files earlier today
import datetime
import pandas as pd

today = datetime.datetime.now().strftime("%Y-%m-%d") 

folders = !cd data/$today;ls

import pandas as pd
bigdf = pd.DataFrame()
bigdesc = pd.DataFrame()

for folder in folders:
    files = !cd data/$today/$folder;ls
    dfiles = []
    for file in files:
        if "master" in file:
            dfiles.append(file)
    for file in dfiles:
        #print(folder,file)
        df = pd.read_csv("data/%s/%s/%s"%(today,folder,file))
        df['file'] = file
        df['month'] = folder
        bigdf = bigdf.append(df)
        bigdf['period'] = bigdf['period'].astype(str)
        desc = pd.read_csv("data/%s/%s/%s"%(today,folder,file.replace("master","description")))
        desc['file'] = file
        desc['month'] = folder
        bigdesc = bigdesc.append(desc)

bigdesc = bigdesc.reset_index()
bigdesc = bigdesc.drop_duplicates(subset='code')
bigdesc = bigdesc.set_index('code')['desc_e']
descdict = bigdesc.to_dict()

month = bigdf[bigdf['period'].isin(['01','02','03','04','05','06','07','08','09','10','11','12'])]
month = month[month['year'].notnull()]
check = pd.DataFrame(month.groupby(['stat','class1_code','class2_code','class3_code','class4_code','file'],dropna=False).size())
checked = check[check[0]==15]
checked.columns = ['count']
checked = checked.reset_index()
mstats = checked['stat'].unique()

month = month.sort_values('file',ascending=False)
month = month[month['stat'].isin(mstats)]
month = month.drop_duplicates(subset=['stat','year','period','class1_code','class2_code','class3_code','class4_code'])
month['indexcol'] = pd.to_datetime(month['year'].astype(int).astype(str) + ['-']*len(month) + month['period'].astype(int).astype(str) + ['-01']*len(month))
month = month.set_index('indexcol')

In [175]:
!mkdir charts
!mkdir charts/$today
!mkdir charts/$today/mth
!mkdir charts/$today/12mth
!mkdir charts/$today/24mth


import numpy as np
import matplotlib.pyplot as plt
for i,(label,group) in enumerate(month.groupby(['stat','class1_code','class2_code','class3_code','class4_code'],dropna=False)):
    neatlabel = ""
    for part in label:
        if pd.isnull(part) == True:
            pass
        else:
            neatlabel+=descdict[part.replace("Conttype_01","conttype_01")\
                                .replace("Conttype_02","conttype_02")\
                               .replace("Conttype_tt","conttype_tt")]+" - "
    neatlabel = neatlabel[:-3]# + " " + file
    
    if " " in neatlabel:
        print(neatlabel)
        fig = plt.figure()
        #display(label,group[['year','period','figure','file']].values)
        group['indexcol'] = pd.to_datetime(group['year'].astype(int).astype(str) + ['-']*len(group) + group['period'] + ['-01']*len(group))
        group = group.set_index('indexcol')
        group = group.replace("‡",np.nan)
        group = group.replace("〜",np.nan)
        group = group.replace("***",np.nan)
        group = group.replace("N.A.",np.nan)
        group = group.replace("§",0)
        group = group.replace("+§",0)
        group = group.replace("-§",0)
        group = group.sort_index()[['figure']]
        group['figure'] = group['figure'].astype(float,errors='ignore')
        group['3mth rav'] = group['figure'].rolling(3).mean()
        group['mth ch'] = group['figure'].diff(1)
        group['mth ch%'] = (group['mth ch'])/group['figure'].shift(1)*100
        group['12mth ch'] = group['figure'].diff(12)
        group['12mth ch%'] = (group['12mth ch'])/group['figure'].shift(12)*100
        display(label,group)
        if int(group[-1:]['mth ch%'].values[0])<0:
            change = str(int(group[-1:]['mth ch%'].values[0])).zfill(3)
        else:
            change = str(int(group[-1:]['mth ch%'].values[0])).zfill(2)
        if len(group)>0:
            group['figure'].plot(title=neatlabel)
            plt.tight_layout()
            plt.savefig("charts/"+today+"/"+change+" - "+neatlabel+".png")
            plt.close(fig)
        if i == 10:
            break

mkdir: charts: File exists
mkdir: charts/2021-01-03: File exists
Registered births - Male

('M010401', 'sex_01', nan, nan, nan)

            figure     3mth rav  mth ch     mth ch%  12mth ch  12mth ch%
indexcol
2018-07-01  2212.0          NaN     NaN         NaN       NaN        NaN
2018-08-01  2336.0          NaN   124.0    5.605787       NaN        NaN
2018-09-01  2157.0  2235.000000  -179.0   -7.662671       NaN        NaN
2018-10-01  2515.0  2336.000000   358.0   16.597126       NaN        NaN
2018-11-01  2445.0  2372.333333   -70.0   -2.783300       NaN        NaN
2018-12-01  2370.0  2443.333333   -75.0   -3.067485       NaN        NaN
2019-01-01  2566.0  2460.333333   196.0    8.270042       NaN        NaN
2019-02-01  2008.0  2314.666667  -558.0  -21.745908       NaN        NaN
2019-03-01  2242.0  2272.000000   234.0   11.653386       NaN        NaN
2019-04-01  2256.0  2168.666667    14.0    0.624442       NaN        NaN
2019-05-01  2394.0  2297.333333   138.0    6.117021       NaN        NaN
2019-06-01  2139.0  2263.000000  -255.0  -10.651629       NaN        NaN
2019-07-01  2244.0  2259.000000   105.0    4.908836      32.0   1.446655
2019-08-01  2278.0  2220.333333    34.0    1.515152     -58.0  -2.482877
2019-09-01  2269.0  2263.666667    -9.0   -0.395083     112.0   5.192397
2019-10-01  2484.0  2343.666667   215.0    9.475540     -31.0  -1.232604
2019-11-01  2457.0  2403.333333   -27.0   -1.086957      12.0   0.490798
2019-12-01  2434.0  2458.333333   -23.0   -0.936101      64.0   2.700422
2020-01-01  1980.0  2290.333333  -454.0  -18.652424    -586.0 -22.837101
2020-02-01  1763.0  2059.000000  -217.0  -10.959596    -245.0 -12.201195
2020-03-01  2552.0  2098.333333   789.0   44.753261     310.0  13.826940
2020-04-01  1812.0  2042.333333  -740.0  -28.996865    -444.0 -19.680851
2020-05-01  2110.0  2158.000000   298.0   16.445916    -284.0 -11.862991
2020-06-01  1916.0  1946.000000  -194.0   -9.194313    -223.0 -10.425432
2020-07-01  1108.0  1711.333333  -808.0  -42.171190   -1136.0 -50.623886
2020-08-01   959.0  1327.666667  -149.0  -13.447653   -1319.0 -57.901668
2020-09-01  3184.0  1750.333333  2225.0  232.012513     915.0  40.326135
2020-10-01  2003.0  2048.666667 -1181.0  -37.091709    -481.0 -19.363929

Registered births - Female

('M010401', 'sex_02', nan, nan, nan)

            figure     3mth rav  mth ch     mth ch%  12mth ch  12mth ch%
indexcol
2018-07-01  2158.0          NaN     NaN         NaN       NaN        NaN
2018-08-01  2140.0          NaN   -18.0   -0.834106       NaN        NaN
2018-09-01  1942.0  2080.000000  -198.0   -9.252336       NaN        NaN
2018-10-01  2372.0  2151.333333   430.0   22.142122       NaN        NaN
2018-11-01  2281.0  2198.333333   -91.0   -3.836425       NaN        NaN
2018-12-01  2172.0  2275.000000  -109.0   -4.778606       NaN        NaN
2019-01-01  2359.0  2270.666667   187.0    8.609576       NaN        NaN
2019-02-01  1899.0  2143.333333  -460.0  -19.499788       NaN        NaN
2019-03-01  2129.0  2129.000000   230.0   12.111638       NaN        NaN
2019-04-01  2151.0  2059.666667    22.0    1.033349       NaN        NaN
2019-05-01  2196.0  2158.666667    45.0    2.092050       NaN        NaN
2019-06-01  2004.0  2117.000000  -192.0   -8.743169       NaN        NaN
2019-07-01  1988.0  2062.666667   -16.0   -0.798403    -170.0  -7.877665
2019-08-01  2064.0  2018.666667    76.0    3.822938     -76.0  -3.551402
2019-09-01  2024.0  2025.333333   -40.0   -1.937984      82.0   4.222451
2019-10-01  2260.0  2116.000000   236.0   11.660079    -112.0  -4.721754
2019-11-01  2098.0  2127.333333  -162.0   -7.168142    -183.0  -8.022797
2019-12-01  2225.0  2194.333333   127.0    6.053384      53.0   2.440147
2020-01-01  1741.0  2021.333333  -484.0  -21.752809    -618.0 -26.197541
2020-02-01  1647.0  1871.000000   -94.0   -5.399196    -252.0 -13.270142
2020-03-01  2369.0  1919.000000   722.0   43.837280     240.0  11.272898
2020-04-01  1652.0  1889.333333  -717.0  -30.265935    -499.0 -23.198512
2020-05-01  1918.0  1979.666667   266.0   16.101695    -278.0 -12.659381
2020-06-01  1695.0  1755.000000  -223.0  -11.626694    -309.0 -15.419162
2020-07-01   960.0  1524.333333  -735.0  -43.362832   -1028.0 -51.710262
2020-08-01   892.0  1182.333333   -68.0   -7.083333   -1172.0 -56.782946
2020-09-01  2842.0  1564.666667  1950.0  218.609865     818.0  40.415020
2020-10-01  1821.0  1851.666667 -1021.0  -35.925405    -439.0 -19.424779

Registered births - Total

('M010401', 'sex_tt', nan, nan, nan)

            figure     3mth rav  mth ch     mth ch%  12mth ch  12mth ch%
indexcol
2018-07-01  4370.0          NaN     NaN         NaN       NaN        NaN
2018-08-01  4476.0          NaN   106.0    2.425629       NaN        NaN
2018-09-01  4099.0  4315.000000  -377.0   -8.422699       NaN        NaN
2018-10-01  4887.0  4487.333333   788.0   19.224201       NaN        NaN
2018-11-01  4726.0  4570.666667  -161.0   -3.294455       NaN        NaN
2018-12-01  4542.0  4718.333333  -184.0   -3.893356       NaN        NaN
2019-01-01  4925.0  4731.000000   383.0    8.432409       NaN        NaN
2019-02-01  3907.0  4458.000000 -1018.0  -20.670051       NaN        NaN
2019-03-01  4371.0  4401.000000   464.0   11.876120       NaN        NaN
2019-04-01  4407.0  4228.333333    36.0    0.823610       NaN        NaN
2019-05-01  4590.0  4456.000000   183.0    4.152485       NaN        NaN
2019-06-01  4143.0  4380.000000  -447.0   -9.738562       NaN        NaN
2019-07-01  4232.0  4321.666667    89.0    2.148202    -138.0  -3.157895
2019-08-01  4342.0  4239.000000   110.0    2.599244    -134.0  -2.993744
2019-09-01  4293.0  4289.000000   -49.0   -1.128512     194.0   4.732862
2019-10-01  4744.0  4459.666667   451.0   10.505474    -143.0  -2.926131
2019-11-01  4555.0  4530.666667  -189.0   -3.983980    -171.0  -3.618282
2019-12-01  4659.0  4652.666667   104.0    2.283205     117.0   2.575958
2020-01-01  3721.0  4311.666667  -938.0  -20.133076   -1204.0 -24.446701
2020-02-01  3410.0  3930.000000  -311.0   -8.357968    -497.0 -12.720758
2020-03-01  4921.0  4017.333333  1511.0   44.310850     550.0  12.582933
2020-04-01  3464.0  3931.666667 -1457.0  -29.607803    -943.0 -21.397776
2020-05-01  4028.0  4137.666667   564.0   16.281755    -562.0 -12.244009
2020-06-01  3611.0  3701.000000  -417.0  -10.352532    -532.0 -12.840937
2020-07-01  2068.0  3235.666667 -1543.0  -42.730546   -2164.0 -51.134216
2020-08-01  1851.0  2510.000000  -217.0  -10.493230   -2491.0 -57.369876
2020-09-01  6026.0  3315.000000  4175.0  225.553755    1733.0  40.368041
2020-10-01  3824.0  3900.333333 -2202.0  -36.541653    -920.0 -19.392917

Registered deaths (note 1)(note 2) - Male

('M010402', 'sex_01', nan, nan, nan)

            figure     3mth rav  mth ch    mth ch%  12mth ch  12mth ch%
indexcol
2018-07-01  2071.0          NaN     NaN        NaN       NaN        NaN
2018-08-01  2021.0          NaN   -50.0  -2.414293       NaN        NaN
2018-09-01  1893.0  1995.000000  -128.0  -6.333498       NaN        NaN
2018-10-01  2209.0  2041.000000   316.0  16.693080       NaN        NaN
2018-11-01  2084.0  2062.000000  -125.0  -5.658669       NaN        NaN
2018-12-01  2111.0  2134.666667    27.0   1.295585       NaN        NaN
2019-01-01  2676.0  2290.333333   565.0  26.764567       NaN        NaN
2019-02-01  2153.0  2313.333333  -523.0 -19.544096       NaN        NaN
2019-03-01  2391.0  2406.666667   238.0  11.054343       NaN        NaN
2019-04-01  2233.0  2259.000000  -158.0  -6.608114       NaN        NaN
2019-05-01  2352.0  2325.333333   119.0   5.329154       NaN        NaN
2019-06-01  2039.0  2208.000000  -313.0 -13.307823       NaN        NaN
2019-07-01  2387.0  2259.333333   348.0  17.067190     316.0  15.258329
2019-08-01  2275.0  2233.666667  -112.0  -4.692082     254.0  12.568036
2019-09-01  2038.0  2233.333333  -237.0 -10.417582     145.0   7.659799
2019-10-01  2193.0  2168.666667   155.0   7.605496     -16.0  -0.724310
2019-11-01  1994.0  2075.000000  -199.0  -9.074327     -90.0  -4.318618
2019-12-01  2366.0  2184.333333   372.0  18.655968     255.0  12.079583
2020-01-01  2265.0  2208.333333  -101.0  -4.268808    -411.0 -15.358744
2020-02-01  2543.0  2391.333333   278.0  12.273731     390.0  18.114259
2020-03-01  2040.0  2282.666667  -503.0 -19.779788    -351.0 -14.680050
2020-04-01  1968.0  2183.666667   -72.0  -3.529412    -265.0 -11.867443
2020-05-01  2820.0  2276.000000   852.0  43.292683     468.0  19.897959
2020-06-01  2640.0  2476.000000  -180.0  -6.382979     601.0  29.475233
2020-07-01  2259.0  2573.000000  -381.0 -14.431818    -128.0  -5.362380
2020-08-01  2159.0  2352.666667  -100.0  -4.426737    -116.0  -5.098901
2020-09-01  2341.0  2253.000000   182.0   8.429829     303.0  14.867517
2020-10-01  2221.0  2240.333333  -120.0  -5.126015      28.0   1.276790

Registered deaths (note 1)(note 2) - Female

('M010402', 'sex_02', nan, nan, nan)

            figure     3mth rav  mth ch    mth ch%  12mth ch  12mth ch%
indexcol
2018-07-01  1642.0          NaN     NaN        NaN       NaN        NaN
2018-08-01  1547.0          NaN   -95.0  -5.785627       NaN        NaN
2018-09-01  1460.0  1549.666667   -87.0  -5.623788       NaN        NaN
2018-10-01  1794.0  1600.333333   334.0  22.876712       NaN        NaN
2018-11-01  1656.0  1636.666667  -138.0  -7.692308       NaN        NaN
2018-12-01  1655.0  1701.666667    -1.0  -0.060386       NaN        NaN
2019-01-01  2052.0  1787.666667   397.0  23.987915       NaN        NaN
2019-02-01  1778.0  1828.333333  -274.0 -13.352827       NaN        NaN
2019-03-01  1901.0  1910.333333   123.0   6.917885       NaN        NaN
2019-04-01  1783.0  1820.666667  -118.0  -6.207259       NaN        NaN
2019-05-01  1855.0  1846.333333    72.0   4.038138       NaN        NaN
2019-06-01  1613.0  1750.333333  -242.0 -13.045822       NaN        NaN
2019-07-01  1810.0  1759.333333   197.0  12.213267     168.0  10.231425
2019-08-01  1795.0  1739.333333   -15.0  -0.828729     248.0  16.031028
2019-09-01  1627.0  1744.000000  -168.0  -9.359331     167.0  11.438356
2019-10-01  1826.0  1749.333333   199.0  12.231100      32.0   1.783724
2019-11-01  1681.0  1711.333333  -145.0  -7.940854      25.0   1.509662
2019-12-01  1887.0  1798.000000   206.0  12.254610     232.0  14.018127
2020-01-01  1963.0  1843.666667    76.0   4.027557     -89.0  -4.337232
2020-02-01  1963.0  1937.666667     0.0   0.000000     185.0  10.404949
2020-03-01  1686.0  1870.666667  -277.0 -14.111055    -215.0 -11.309837
2020-04-01  1631.0  1760.000000   -55.0  -3.262159    -152.0  -8.524958
2020-05-01  2257.0  1858.000000   626.0  38.381361     402.0  21.671159
2020-06-01  2140.0  2009.333333  -117.0  -5.183872     527.0  32.672040
2020-07-01  1905.0  2100.666667  -235.0 -10.981308      95.0   5.248619
2020-08-01  1770.0  1938.333333  -135.0  -7.086614     -25.0  -1.392758
2020-09-01  1886.0  1853.666667   116.0   6.553672     259.0  15.918869
2020-10-01  1760.0  1805.333333  -126.0  -6.680806     -66.0  -3.614458

Registered deaths (note 1)(note 2) - Total

('M010402', 'sex_tt', nan, nan, nan)

            figure     3mth rav  mth ch    mth ch%  12mth ch  12mth ch%
indexcol
2018-07-01  3713.0          NaN     NaN        NaN       NaN        NaN
2018-08-01  3568.0          NaN  -145.0  -3.905198       NaN        NaN
2018-09-01  3353.0  3544.666667  -215.0  -6.025785       NaN        NaN
2018-10-01  4003.0  3641.333333   650.0  19.385625       NaN        NaN
2018-11-01  3740.0  3698.666667  -263.0  -6.570072       NaN        NaN
2018-12-01  3766.0  3836.333333    26.0   0.695187       NaN        NaN
2019-01-01  4728.0  4078.000000   962.0  25.544344       NaN        NaN
2019-02-01  3931.0  4141.666667  -797.0 -16.857022       NaN        NaN
2019-03-01  4292.0  4317.000000   361.0   9.183414       NaN        NaN
2019-04-01  4016.0  4079.666667  -276.0  -6.430568       NaN        NaN
2019-05-01  4207.0  4171.666667   191.0   4.755976       NaN        NaN
2019-06-01  3652.0  3958.333333  -555.0 -13.192299       NaN        NaN
2019-07-01  4198.0  4019.000000   546.0  14.950712     485.0  13.062214
2019-08-01  4071.0  3973.666667  -127.0  -3.025250     503.0  14.097534
2019-09-01  3665.0  3978.000000  -406.0  -9.972980     312.0   9.305100
2019-10-01  4019.0  3918.333333   354.0   9.658936      16.0   0.399700
2019-11-01  3675.0  3786.333333  -344.0  -8.559343     -65.0  -1.737968
2019-12-01  4253.0  3982.333333   578.0  15.727891     487.0  12.931492
2020-01-01  4228.0  4052.000000   -25.0  -0.587820    -500.0 -10.575296
2020-02-01  4508.0  4329.666667   280.0   6.622517     577.0  14.678199
2020-03-01  3727.0  4154.333333  -781.0 -17.324756    -565.0 -13.164026
2020-04-01  3599.0  3944.666667  -128.0  -3.434398    -417.0 -10.383466
2020-05-01  5077.0  4134.333333  1478.0  41.066963     870.0  20.679819
2020-06-01  4780.0  4485.333333  -297.0  -5.849911    1128.0  30.887185
2020-07-01  4164.0  4673.666667  -616.0 -12.887029     -34.0  -0.809909
2020-08-01  3929.0  4291.000000  -235.0  -5.643612    -142.0  -3.488086
2020-09-01  4227.0  4106.666667   298.0   7.584627     562.0  15.334243
2020-10-01  3981.0  4045.666667  -246.0  -5.819730     -38.0  -0.945509

Registered marriages (note 1)

('M010403', nan, nan, nan, nan)

            figure     3mth rav  mth ch     mth ch%  12mth ch  12mth ch%
indexcol
2018-07-01  2649.0          NaN     NaN         NaN       NaN        NaN
2018-08-01  2935.0          NaN   286.0   10.796527       NaN        NaN
2018-09-01  4361.0  3315.000000  1426.0   48.586031       NaN        NaN
2018-10-01  4739.0  4011.666667   378.0    8.667737       NaN        NaN
2018-11-01  5139.0  4746.333333   400.0    8.440599       NaN        NaN
2018-12-01  6502.0  5460.000000  1363.0   26.522670       NaN        NaN
2019-01-01  5151.0  5597.333333 -1351.0  -20.778222       NaN        NaN
2019-02-01  2750.0  4801.000000 -2401.0  -46.612308       NaN        NaN
2019-03-01  4586.0  4162.333333  1836.0   66.763636       NaN        NaN
2019-04-01  2591.0  3309.000000 -1995.0  -43.501962       NaN        NaN
2019-05-01  4055.0  3744.000000  1464.0   56.503281       NaN        NaN
2019-06-01  3859.0  3501.666667  -196.0   -4.833539       NaN        NaN
2019-07-01  2492.0  3468.666667 -1367.0  -35.423685    -157.0  -5.926765
2019-08-01  2194.0  2848.333333  -298.0  -11.958266    -741.0 -25.247019
2019-09-01  3958.0  2881.333333  1764.0   80.401094    -403.0  -9.241000
2019-10-01  3592.0  3248.000000  -366.0   -9.247094   -1147.0 -24.203418
2019-11-01  5232.0  4260.666667  1640.0   45.657016      93.0   1.809691
2019-12-01  4332.0  4385.333333  -900.0  -17.201835   -2170.0 -33.374346
2020-01-01  2909.0  4157.666667 -1423.0  -32.848569   -2242.0 -43.525529
2020-02-01  2618.0  3286.333333  -291.0  -10.003438    -132.0  -4.800000
2020-03-01  2303.0  2610.000000  -315.0  -12.032086   -2283.0 -49.781945
2020-04-01  1260.0  2060.333333 -1043.0  -45.288754   -1331.0 -51.370127
2020-05-01  1743.0  1768.666667   483.0   38.333333   -2312.0 -57.016030
2020-06-01  1736.0  1579.666667    -7.0   -0.401606   -2123.0 -55.014252
2020-07-01  1569.0  1682.666667  -167.0   -9.619816    -923.0 -37.038523
2020-08-01  1443.0  1582.666667  -126.0   -8.030593    -751.0 -34.229717
2020-09-01  1536.0  1516.000000    93.0    6.444906   -2422.0 -61.192521
2020-10-01  3456.0  2145.000000  1920.0  125.000000    -136.0  -3.786192

Average daily wages of workers engaged in Public Sector Construction Projects [$] - Concretor

('M021201', 'worker_01', nan, nan, nan)

            figure     3mth rav  mth ch   mth ch%  12mth ch  12mth ch%
indexcol
2018-06-01  1884.0          NaN     NaN       NaN       NaN        NaN
2018-07-01  1919.4          NaN    35.4  1.878981       NaN        NaN
2018-08-01  1931.9  1911.766667    12.5  0.651245       NaN        NaN
2018-09-01  1915.9  1922.400000   -16.0 -0.828200       NaN        NaN
2018-10-01  1944.4  1930.733333    28.5  1.487552       NaN        NaN
2018-11-01  1969.6  1943.300000    25.2  1.296030       NaN        NaN
2018-12-01  1931.7  1948.566667   -37.9 -1.924249       NaN        NaN
2019-01-01  1941.6  1947.633333     9.9  0.512502       NaN        NaN
2019-02-01  1938.4  1937.233333    -3.2 -0.164813       NaN        NaN
2019-03-01  1978.1  1952.700000    39.7  2.048081       NaN        NaN
2019-04-01  1983.9  1966.800000     5.8  0.293211       NaN        NaN
2019-05-01  1995.6  1985.866667    11.7  0.589747       NaN        NaN
2019-06-01  1938.9  1972.800000   -56.7 -2.841251      54.9   2.914013
2019-07-01  1975.8  1970.100000    36.9  1.903141      56.4   2.938418
2019-08-01  1999.3  1971.333333    23.5  1.189392      67.4   3.488793
2019-09-01  2025.5  2000.200000    26.2  1.310459     109.6   5.720549
2019-10-01  2030.5  2018.433333     5.0  0.246853      86.1   4.428101
2019-11-01  1977.9  2011.300000   -52.6 -2.590495       8.3   0.421405
2019-12-01  1959.0  1989.133333   -18.9 -0.955559      27.3   1.413263
2020-01-01  1984.9  1973.933333    25.9  1.322103      43.3   2.230119
2020-02-01  1915.9  1953.266667   -69.0 -3.476246     -22.5  -1.160751
2020-03-01  1994.2  1965.000000    78.3  4.086852      16.1   0.813912
2020-04-01  1928.4  1946.166667   -65.8 -3.299569     -55.5  -2.797520
2020-05-01  1943.8  1955.466667    15.4  0.798590     -51.8  -2.595711
2020-06-01  1931.5  1934.566667   -12.3 -0.632781      -7.4  -0.381660
2020-07-01  1943.2  1939.500000    11.7  0.605747     -32.6  -1.649965
2020-08-01  1889.1  1921.266667   -54.1 -2.784068    -110.2  -5.511929
2020-09-01  1887.2  1906.500000    -1.9 -0.100577    -138.3  -6.827944

Average daily wages of workers engaged in Public Sector Construction Projects [$] - Bricklayer

('M021201', 'worker_02', nan, nan, nan)

            figure     3mth rav  mth ch    mth ch%  12mth ch  12mth ch%
indexcol
2018-06-01  1371.6          NaN     NaN        NaN       NaN        NaN
2018-07-01  1368.7          NaN    -2.9  -0.211432       NaN        NaN
2018-08-01  1374.5  1371.600000     5.8   0.423760       NaN        NaN
2018-09-01  1379.6  1374.266667     5.1   0.371044       NaN        NaN
2018-10-01  1352.3  1368.800000   -27.3  -1.978834       NaN        NaN
2018-11-01  1288.7  1340.200000   -63.6  -4.703098       NaN        NaN
2018-12-01  1297.5  1312.833333     8.8   0.682859       NaN        NaN
2019-01-01  1278.9  1288.366667   -18.6  -1.433526       NaN        NaN
2019-02-01  1306.9  1294.433333    28.0   2.189381       NaN        NaN
2019-03-01  1277.7  1287.833333   -29.2  -2.234295       NaN        NaN
2019-04-01  1335.8  1306.800000    58.1   4.547233       NaN        NaN
2019-05-01  1305.1  1306.200000   -30.7  -2.298248       NaN        NaN
2019-06-01  1252.8  1297.900000   -52.3  -4.007356    -118.8  -8.661417
2019-07-01  1178.0  1245.300000   -74.8  -5.970626    -190.7 -13.932929
2019-08-01  1089.5  1173.433333   -88.5  -7.512733    -285.0 -20.734813
2019-09-01  1114.1  1127.200000    24.6   2.257916    -265.5 -19.244709
2019-10-01  1151.3  1118.300000    37.2   3.339018    -201.0 -14.863566
2019-11-01  1110.7  1125.366667   -40.6  -3.526448    -178.0 -13.812369
2019-12-01  1233.7  1165.233333   123.0  11.074097     -63.8  -4.917148
2020-01-01  1295.4  1213.266667    61.7   5.001216      16.5   1.290171
2020-02-01  1366.6  1298.566667    71.2   5.496372      59.7   4.568062
2020-03-01  1391.2  1351.066667    24.6   1.800088     113.5   8.883149
2020-04-01  1346.6  1368.133333   -44.6  -3.205865      10.8   0.808504
2020-05-01  1415.0  1384.266667    68.4   5.079459     109.9   8.420811
2020-06-01  1368.2  1376.600000   -46.8  -3.307420     115.4   9.211367
2020-07-01  1399.0  1394.066667    30.8   2.251133     221.0  18.760611
2020-08-01  1349.1  1372.100000   -49.9  -3.566833     259.6  23.827444
2020-09-01  1207.7  1318.600000  -141.4 -10.481061      93.6   8.401400

Average daily wages of workers engaged in Public Sector Construction Projects [$] - Drainlayer

('M021201', 'worker_03', nan, nan, nan)

            figure     3mth rav  mth ch   mth ch%  12mth ch  12mth ch%
indexcol
2018-06-01  1648.9          NaN     NaN       NaN       NaN        NaN
2018-07-01  1653.8          NaN     4.9  0.297168       NaN        NaN
2018-08-01  1660.6  1654.433333     6.8  0.411174       NaN        NaN
2018-09-01  1647.2  1653.866667   -13.4 -0.806937       NaN        NaN
2018-10-01  1636.3  1648.033333   -10.9 -0.661729       NaN        NaN
2018-11-01  1634.8  1639.433333    -1.5 -0.091670       NaN        NaN
2018-12-01  1667.0  1646.033333    32.2  1.969660       NaN        NaN
2019-01-01  1696.9  1666.233333    29.9  1.793641       NaN        NaN
2019-02-01  1672.1  1678.666667   -24.8 -1.461489       NaN        NaN
2019-03-01  1693.3  1687.433333    21.2  1.267867       NaN        NaN
2019-04-01  1697.1  1687.500000     3.8  0.224414       NaN        NaN
2019-05-01  1670.4  1686.933333   -26.7 -1.573272       NaN        NaN
2019-06-01  1705.7  1691.066667    35.3  2.113266      56.8   3.444721
2019-07-01  1699.3  1691.800000    -6.4 -0.375213      45.5   2.751240
2019-08-01  1684.8  1696.600000   -14.5 -0.853293      24.2   1.457305
2019-09-01  1736.8  1706.966667    52.0  3.086420      89.6   5.439534
2019-10-01  1677.8  1699.800000   -59.0 -3.397052      41.5   2.536210
2019-11-01  1687.9  1700.833333    10.1  0.601979      53.1   3.248104
2019-12-01  1662.4  1676.033333   -25.5 -1.510753      -4.6  -0.275945
2020-01-01  1682.0  1677.433333    19.6  1.179018     -14.9  -0.878072
2020-02-01  1688.1  1677.500000     6.1  0.362663      16.0   0.956881
2020-03-01  1697.9  1689.333333     9.8  0.580534       4.6   0.271659
2020-04-01  1712.1  1699.366667    14.2  0.836327      15.0   0.883861
2020-05-01  1704.8  1704.933333    -7.3 -0.426377      34.4   2.059387
2020-06-01  1697.9  1704.933333    -6.9 -0.404740      -7.8  -0.457290
2020-07-01  1736.2  1712.966667    38.3  2.255728      36.9   2.171482
2020-08-01  1663.3  1699.133333   -72.9 -4.198825     -21.5  -1.276116
2020-09-01  1681.8  1693.766667    18.5  1.112247     -55.0  -3.166743

Average daily wages of workers engaged in Public Sector Construction Projects [$] - Mason

('M021201', 'worker_04', nan, nan, nan)

            figure     3mth rav  mth ch    mth ch%  12mth ch  12mth ch%
indexcol
2018-06-01  1267.8          NaN     NaN        NaN       NaN        NaN
2018-07-01  1229.3          NaN   -38.5  -3.036757       NaN        NaN
2018-08-01  1348.4  1281.833333   119.1   9.688441       NaN        NaN
2018-09-01  1158.0  1245.233333  -190.4 -14.120439       NaN        NaN
2018-10-01  1200.0  1235.466667    42.0   3.626943       NaN        NaN
2018-11-01  1236.4  1198.133333    36.4   3.033333       NaN        NaN
2018-12-01  1245.5  1227.300000     9.1   0.736008       NaN        NaN
2019-01-01  1118.3  1200.066667  -127.2 -10.212766       NaN        NaN
2019-02-01  1384.0  1249.266667   265.7  23.759277       NaN        NaN
2019-03-01  1375.0  1292.433333    -9.0  -0.650289       NaN        NaN
2019-04-01  1137.5  1298.833333  -237.5 -17.272727       NaN        NaN
2019-05-01  1288.2  1266.900000   150.7  13.248352       NaN        NaN
2019-06-01  1060.0  1161.900000  -228.2 -17.714641    -207.8 -16.390598
2019-07-01  1431.5  1259.900000   371.5  35.047170     202.2  16.448385
2019-08-01  1633.3  1374.933333   201.8  14.097101     284.9  21.128745
2019-09-01  1523.1  1529.300000  -110.2  -6.747076     365.1  31.528497
2019-10-01  1277.4  1477.933333  -245.7 -16.131574      77.4   6.450000
2019-11-01  1193.3  1331.266667   -84.1  -6.583686     -43.1  -3.485927
2019-12-01  1262.2  1244.300000    68.9   5.773904      16.7   1.340827
2020-01-01  1446.5  1300.666667   184.3  14.601489     328.2  29.348118
2020-02-01  1252.6  1320.433333  -193.9 -13.404770    -131.4  -9.494220
2020-03-01  1189.6  1296.233333   -63.0  -5.029539    -185.4 -13.483636
2020-04-01  1153.7  1198.633333   -35.9  -3.017821      16.2   1.424176
2020-05-01  1123.8  1155.700000   -29.9  -2.591662    -164.4 -12.761993
2020-06-01  1188.5  1155.333333    64.7   5.757252     128.5  12.122642
2020-07-01  1168.8  1160.366667   -19.7  -1.657552    -262.7 -18.351380
2020-08-01  1262.0  1206.433333    93.2   7.973990    -371.3 -22.733117
2020-09-01  1130.0  1186.933333  -132.0 -10.459588    -393.1 -25.809205